.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color:#fceae8;
    border-radius:10px;
}
.carousel-item{
    padding:20px 20px;
}
.price{
    color:#ff136f;
}
.buy-now-button{
    background-image:linear-gradient(to bottom,#FF589B 0%,#FF136F 100%);
    color:#fff;
    border:none;
    border-radius:8px;
    padding:9px 25px;
    cursor:pointer;

}
.style1, .style2, .style3{
    padding:10px 30px;
    border-radius:10px;
}
.style1{
    background-color:orange;
}
.style2{
    background-color:orchid;
}
.style3{
    background-color:lightblue;
}
.categories h1{
        color:white;
}
.categories img{
    width:100px;
}
.card{
    border:none;
    border-radius:10px;
    box-shadow:5px 5px 10px lightgray;
}
.card-footer{
    bakground-color:white;
    border-top:none;
}
#subscribe{
    height:300px;
}
#subscribe h6{
    color:gray;
}
footer{
    text-align:center;
}